<!-- <mat-toolbar  class="navBar"> 
<div>shahed<span id="cv">CV</span> </div> 
<div class="link">
    <span > <a href="#" *ngFor="let item of links"> {{item}} </a></span>
</div>
</mat-toolbar> -->

  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Shahed <span>CV</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item .active_li" *ngFor="let item of Links | keyvalue:onCompare" (click)=" Selected_item(item.key)" [classList]="item.key==isSelected?'active_li':''">
            <a class="nav-link"   href="{{item.value}}">{{item.key}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>