
.navright{
    position: relative;
  
}
.navbar-collapse{
    position: absolute;
    right: 118px;
}
.navbar{
    background-color: black;
    position: fixed;
    z-index: 55588855;
    top: 0;
    left: 0;
    right: 0;
   
}
.navbar-nav a{
    margin-left: 30px;
    line-height: 1;
    color: white;
}
.navbar-brand{
    color: white;
}
.navbar-brand span{
    color: var(--color_head);
}
.navbar-brand:hover{
    color: white;
}
.navbar-nav a:hover{
    color: var(--color_head);
    border-bottom: 1px solid green;  
} 
.active_li a{
    color: var(--color_head);
    border-bottom: 1px solid green;
}
button{
background-color: white;
}
@media(max-width:65em){
    .navbar-collapse{
       position: relative;
       right: 0px;
       
    }
    .navbar-nav a:hover{
        color: var(--color_head);
        border-bottom:none;  
    }
}
