.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  h6{
    font-size: 18px;
    margin-top: 25px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
  h5 a{
    font-size: 15px;
    margin-bottom: 25px;
  }