<style>
    .about{
      text-align: justify;
      background-image: url('../../../assets/images/bgnew.jpg');
      /* background-color: var( --color_head); */
    }
    h4{
        color: white;
    margin-top: 100px;
        background-color:var(--color_head);
        border-radius: 5px;
        display: inline-block;
        padding: 10px 8px;
        margin-bottom: 35px;
    }
    p{
  
        font-size: 15px;
      margin-bottom: 25px;
    }
    .image{
      
        padding:25px;
        padding-top: 150px;
    }
    
   
</style>

<div class="row">

    <div class="image text-center col-xl-4 col-md-4 col-12">
        <SHP-image>  </SHP-image>
    </div>
    <div class="about col-xl-6 col-md-7 col-12">
        <h4> {{titel}}</h4>
        <p>{{p1}}  {{p2}} {{p3_1}} {{p3_span}}  {{p3_2}}</p>
         <p>{{p4}}</p>
         <p>{{p1}}  {{p2}} {{p3_1}} {{p3_span}}  {{p3_2}}</p>
         <p>{{p1}}  {{p2}} {{p3_1}} {{p3_span}}  {{p3_2}}</p>
        
    </div>

</div>
